@if(!song().title || !artist().name) {
<p>Cargando canción...</p>
} @else {
<header-component
  [icon]="'arrow-left'"
  title="{{ song().title }} ({{ artist().name }})"
/>
<section>
  <header>
    <h1>{{ song().title }} ({{ artist().name }})</h1>

    <img [src]="song().poster" [alt]="song().title" />
  </header>

  <article>
    <ul class="genres">
      @for (genre of song().genre; track $index) {
      <li># {{ genre }}</li>
      }
    </ul>

    <div class="apart">
      <h3>Duración:</h3>
      <time>&nbsp;{{ convertToMinutes(song().duration) }}</time>
    </div>

    <div class="apart">
      <h3>Puntuación:</h3>
      <p>&nbsp;{{ song().rating }}</p>
    </div>

    <div class="apart">
      <h3>Año de publicación:</h3>
      <time>&nbsp;{{ song().year }}</time>
    </div>

    <div class="apart">
      <h3>Grupo/Artista:</h3>
      <p>&nbsp;{{ artist().name }}</p>
    </div>

    @if (company().length >= 1) {
    <h3>
      {{
        company().length > 1
          ? "Compañías discográficas"
          : "Compañía discográfica"
      }}
    </h3>

    <ul class="companies">
      @for (comp of company(); track $index) {
      <li>{{ comp.name }}</li>
      }
    </ul>
    }

    <div class="apart">
      <h3>País:</h3>
      <p>&nbsp;España</p>
    </div>
  </article>
</section>
}
