@if(!song().title || !artist().name) {
<p>Cargando canción...</p>
} @else {
<header-component
  [icon]="'arrow-left'"
  title="{{ song().title }} ({{ artist().name }})"
/>
<section>
  <header>
    <h1>{{ song().title }} ({{ artist().name }})</h1>

    <img [src]="song().poster" [alt]="song().title" />
  </header>

  <article>
    <ul class="genres">
      @for (genre of song().genre; track $index) {
      <li># {{ genre }}</li>
      }
    </ul>

    <div class="apart">
      <h3>{{ "songs.song.duration" | translate }}:</h3>
      <time>&nbsp;{{ convertToMinutes(song().duration) }}</time>
    </div>

    <div class="apart">
      <h3>{{ "songs.song.rating" | translate }}:</h3>
      <p>&nbsp;{{ song().rating }}</p>
    </div>

    <div class="apart">
      <h3>{{ "songs.song.year" | translate }}:</h3>
      <time>&nbsp;{{ song().year }}</time>
    </div>

    <div class="apart">
      <h3>{{ "songs.song.artist" | translate }}:</h3>
      <p>&nbsp;{{ artist().name }}</p>
    </div>

    @if (company().length >= 1) {
    <h3>
      {{
        company().length > 1
          ? ("songs.song.companies" | translate)
          : ("songs.song.company" | translate)
      }}
    </h3>

    <ul class="companies-countries">
      @for (comp of company(); track $index) {
      <li>{{ comp.name }}</li>
      }
    </ul>

    <h3>
      {{
        company().length > 1
          ? ("songs.song.countries" | translate)
          : ("songs.song.country" | translate)
      }}
    </h3>

    <ul class="companies-countries">
      @for (comp of company(); track $index) {
      <li>{{ comp.country }}</li>
      }
    </ul>
    }
  </article>
</section>

<button>
  <img
    src="/assets/imgs/x.svg"
    [alt]="'songs.addSongButton' | translate"
    (click)="deleteSong()"
  />
</button>
}
