<nav [class.open]="sideMenuService.isOpen()">
  <header>
    <h2>{{ "songs.menu.title" | translate }}</h2>
    <img
      src="assets/imgs/x.svg"
      [alt]="'songs.menu.closeAlt' | translate"
      (click)="closeMenu()"
    />
  </header>

  <ul>
    <li>
      <p>{{ "songs.menu.songs" | translate }}</p>
      <img
        src="assets/imgs/arrow-right.svg"
        [alt]="'songs.menu.arrowRightAlt' | translate"
      />
    </li>
    <li>
      <p>{{ "songs.menu.artists" | translate }}</p>
      <img
        src="assets/imgs/arrow-right.svg"
        [alt]="'songs.menu.arrowRightAlt' | translate"
      />
    </li>
    <li>
      <p>{{ "songs.menu.companies" | translate }}</p>
      <img
        src="assets/imgs/arrow-right.svg"
        [alt]="'songs.menu.arrowRightAlt' | translate"
      />
    </li>
  </ul>
</nav>
