<nav [class.open]="sideMenuService.isOpen()">
  <header>
    <h2>Menú</h2>
    <img
      src="assets/imgs/x.svg"
      alt="Icono para cerrar menú"
      (click)="closeMenu()"
    />
  </header>

  <ul>
    <li>
      <p>Canciones</p>
      <img
        src="assets/imgs/arrow-right.svg"
        alt="Icono de flecha hacia la derecha"
      />
    </li>
    <li>
      <p>Artistas</p>
      <img
        src="assets/imgs/arrow-right.svg"
        alt="Icono de felcha hacia la derecha"
      />
    </li>
    <li>
      <p>Compañías discográficas</p>
      <img
        src="assets/imgs/arrow-right.svg"
        alt="Icono de felcha hacia la derecha"
      />
    </li>
  </ul>
</nav>
